html, body {
  height: 100%;
  width: 100%;
}
body {
  background: gray;
  margin:0;
}

body > div {
  height: 100%;
}
.custom-editor {
  margin: 0 auto;
  width: 60vw;
  min-width: 600px;
  height: 100%;
  overflow-x: auto;
  background: #fff;
  box-shadow: 0 0 8px 7px rgba(0,0,0, 0.1);
}